.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3rem 0;
  margin: 0 8rem;
}

.footer__nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__nav-item {
  margin-right: 2.4rem;
  font-size: 2rem;
}
.footer__nav-item a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s;
  font-size: 2rem;
}

.footer__nav-item > a:hover {
  color: #ccc;
}

.footer__mail {
  font-size: 2rem;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .footer {
    flex-direction: column;
  }
  .footer__nav {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 0 3rem;
  }
}

@media screen and (max-width: 600px) {
  .footer__nav {
    flex-direction: column;
    align-items: center;
  }
  .footer__nav-item {
    margin-right: 0;
  }
}
