.aboutme {
  display: flex;
  background: var(--color-primary);
  padding: 2rem 9rem;
  flex-wrap: wrap;
  justify-content: center;
}

.aboutme__item {
  position: relative;
}
.aboutme__left {
  margin-right: 5rem;
  display: flex;
  justify-content: flex-end;
}
.aboutme__right {
  flex: 1;
}

.aboutme__title {
  color: var(--color-body);
}

.aboutme__description {
  color: var(--color-body);
}

.aboutme__img-container {
  border: 3px solid var(--color-accent);
  position: relative;
  bottom: -80px;
  left: 10px;
  margin: 0 auto;
  max-width: 500px;
}
.aboutme__img-container img {
  width: 100%;
  height: 100%;
  position: relative;
  top: -20px;
  left: -20px;
  object-fit: cover;
}

.skills {
  display: flex;
  flex-direction: column;
  padding: 0 9rem;
  margin-top: 5rem;
}

.skills__title {
  text-align: end;
  margin-bottom: 4rem;
  color: var(--color-primary);
}

.skills_list {
  padding: 0;
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.skills_list-item {
  margin: 2rem 3rem;
}

@media screen and (max-width: 1440px) {
  .aboutme {
    flex-direction: column;
    align-items: center;
  }

  .aboutme__left {
    margin-right: 0;
  }

  .aboutme__img-container {
    position: initial;
    margin-top: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .skills_list {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .aboutme {
    padding: 2rem 4rem;
  }
}
