.projects {
  padding: 2rem 8rem;
}

.projects-title {
  color: var(--color-primary);
}

.projects-container {
  margin-top: 5rem;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 250px;
  gap: 2rem;
}

.project-container.flip {
  grid-template-columns: 2fr 1fr;
}

@media screen and (max-width: 1024px) {
  .project-container {
    grid-template-columns: 1fr !important;
    grid-template-rows: repeat(2, 250px);
    gap: 0;
  }
}

@media screen and (max-width: 600px) {
  .projects {
    padding: 2rem 4rem;
  }
}
